<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <h1>Projet Tâches / Testing</h1>

    <div class="catalogue">

        {% for tache in taches %}

            <div class="tache">
                <h3>Nom de la tâche : {{ tache.titre }} </h3>
                <p>Description : {{ tache.description }}</p> 
                <p>Date : {{ tache.date }}</p> 
                <p>Statut : {{ tache.statut }}</p> 
                <p>Priorité : {{ tache.priorite }}</p>
            </div>

        {% endfor %}

    </div>
        
</body>
</html>