<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Test</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <h1>Projet Tâches / Testing</h1>
    <div class="tache">
        <h3>Nom de la tâche : {{ data.titre }} </h3>
        <p>Description : {{ data.description }}</p> 
        <p>Date : {{ data.date }}</p> 
        <p>Statut : {{ data.statut }}</p> 
        <p>Priorité : {{ data.priorite }}</p>
    </div>
</body>
</html>